.correct {
  background-color: #0d6efd;
  border: 3px solid rgb(6, 240, 15);
  color: white;
}

.incorrects {
  background-color: #0d6efd;
  border: 3px solid red;
  color: white;
}

.conteiner {
  background-color: #1f1b31;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteiner form {
  color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  align-items: stretch;
}

.conteiner form input {
  display: flex;
  flex-direction: column;
}

.header-conteiner {
  background-color: #22333e;
  height: 15vh;
  display: flex;
  justify-content: space-around;
}

.img-content {
  color: white;
}

.player-content {
  color: white;
}

.score-content {
  color: white;
}